<!DOCTYPE html>

{%load static%}
{#引入自定义的过滤器#}
{% load test_filter %}

{# 引入某个组件 #}
{#{% include 'xx.html' %}#}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
</head>
<body>
{% for username in usernames %}
    {{ username.username}}
    {{ username.username|gegege:"haha" }}
{% endfor %}
{% for role in roles %}
{{ role.role_name }}
{% endfor %}
    <form method="post" action="">
        {% csrf_token %}
        用户名:<input type="text" name="username"><br>
        密码：<input type="text" name="password"><br>
        <input type="submit" value="submit">
    </form>
</body>
</html>